.notice {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 14px;
  width: 200px;
  height: 83px;
  padding: 4px;
  border-radius: 14px;
  font-size: 16px;
  color: #fff;
  background-image: linear-gradient(#111, #111), linear-gradient(45deg, #1CA4B4, #00E5B0);
  background-clip: content-box, padding-box;
  z-index: 999;
}
.noticeBtn {
  position: relative;
  width: 20px;
  height: 20px;
  border: 0px;
  background-color: rgb(0, 0, 0, 0);
  cursor: pointer;
}
@keyframes noticePop {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes noticeClose {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}
#titleBox {
  position: relative;
  top: 240px;
  right: 0px;
  width: 100%;
  font-size: 96px;
  color: #fff;
}
.titleKotak {
  position: relative;
  top: 240px;
  right: 0px;
  width: 100%;
  font-size: 96px;
  color: #fff;
}
#titleLight {
  background: linear-gradient(45deg, #1CA4B4, #00E5B0);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
#titleKaler {
  background: linear-gradient(45deg, #1C3FB4, #631CB4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
#titleKaler2 {
  background: linear-gradient(45deg, #E81A1A, #F2E30A);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
#titleNote {
  margin-top: 6px;
  font-size: 20px;
  color: #a1a1a1;
}
#down {
  position: absolute;
  margin-top: 248px;
  left: calc(50% - 17px);
  width: 34px;
  cursor: pointer;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
#down:hover {
  margin-top: 254px;
}
.contentBox {
  position: relative;
  left: calc(50% - 700px);
  width: 1400px;
}
#introBox {
  margin-top: 536px;
  height: 220px;
}
.me {
  position: absolute;
  width: 220px;
  height: 220px;
  border-radius: 200px;
  border: none;
  box-shadow: 0px 0px 6px #111;
}
#mA {
  top: 0px;
  left: 140px;
  z-index: 2;
}
#mB {
  top: 0px;
  left: 0px;
  z-index: 1;
}
@keyframes mAtoR {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-180px);
  }
}
@keyframes mAbackL {
  0% {
    transform: translateX(-180px);
  }
  100% {
    transform: translateX(-140px);
  }
}
@keyframes mBtoL {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(180px);
  }
}
@keyframes mBbackR {
  0% {
    transform: translateX(180px);
  }
  100% {
    transform: translateX(140px);
  }
}
@keyframes mAtoL {
  0% {
    transform: translateX(-140px);
  }
  100% {
    transform: translateX(40px);
  }
}
@keyframes mAbackR {
  0% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes mBtoR {
  0% {
    transform: translateX(140px);
  }
  100% {
    transform: translateX(-40px);
  }
}
@keyframes mBbackL {
  0% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(0px);
  }
}
#switchBtn {
  position: absolute;
  top: 178px;
  left: 0px;
  width: 42px;
  height: 42px;
  border-radius: 14px;
  font-size: 20px;
  color: rgb(0, 0, 0, 0);
  background-color: #fff;
  border: none;
  cursor: pointer;
  z-index: 3;
  transition: all 0.14s linear;
  -webkit-transition: all 0.14s linear;
}
#switchBtn:hover {
  width: 108px;
  color: #111;
}
#btnPic {
  position: absolute;
  top: 6px;
  left:6px;
  width: 30px;
  transform: rotate(90deg);
}
#btnText {
  position: absolute;
  left: 42px;
  top: 9px;
}
.contact {
  position: absolute;
  width: 150px;
  height: 42px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
}
.contact:hover {
  margin-left: 6px;
}
.contactText {
  position: absolute;
  top: 0px;
  left: 50px;
}
.word {
  position: relative;
  top: 1100px;
  color: white;
  font: 700 normal 2.5em 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}
#cA {
  top: 0px;
  left: 400px;
}
#cB {
  top: 60px;
  left: 430px;
}
#cC {
  top: 120px;
  left: 430px;
}
#cD {
  top: 180px;
  left: 400px;
}
#cE {
  display: none;
  top: 0px;
  left: 400px;
}
#cF {
  display: none;
  top: 60px;
  left: 430px;
}
#introText {
  position: absolute;
  top: -10px;
  left: 650px;
  font-size: 20px;
  color: #fff;
}
#SWBox {
  margin-top: 140px;
  height: 464px;
}
#SWText {
  position: absolute;
  font-family: helvetica;
  top: -10px;
  left: 0px;
  width: calc(100% - 650px);
  font-size: 20px;
  color: #fff;
}
#codeBox {
  position: absolute;
  top: 0px;
  right: 8px;
  width: 552px;
  height: 384px;
  border-radius: 14px;
  padding-top: 56px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  background: #333;
  box-shadow: 8px 8px 0px 0px #444;
  font-family: 'Fira Code VF', monospace;
  font-size: 16px;
  color: #fff;
}
#SWChartBox {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: calc(100% - 650px);
}

@media (max-width: 1500px) {
  .contentBox {
    left: 4%;
    width: 92%;
  }
}
@media (max-width: 1200px) {
  #introBox{
    height: 344px;
  }
  #cA {
    top: 240px;
    left: 15px;
  }
  #cB {
    top: 240px;
    left: 195px;
  }
  #cC {
    top: 302px;
    left: 15px;
  }
  #cD {
    top: 302px;
    left: 195px;
  }
  #cE {
    top: 240px;
    left: 15px;
  }
  #cF {
    top: 240px;
    left: 195px;
  }
  #introText {
    top: -8px;
    left: 430px;
  }
  #SWBox {
    height: 580px;
  }
  #SWText {
    width: calc(100% - 430px);
  }
  #codeBox {
    width: 332px;
    height: 500px;
  }
  #SWChartBox {
    width: calc(100% - 430px);
  }
}
@media (max-width: 900px) {
  #titleBox {
    font-size: 76px;
  }
}
@media (max-width: 750px) {
  .contentBox {
    left: calc(50% - 180px);
    width: 360px;
  }
  #introBox{
    height: 640px;
  }
  #cA {
    top: 240px;
    left: 15px;
  }
  #cB {
    top: 240px;
    left: 195px;
  }
  #cC {
    top: 302px;
    left: 15px;
  }
  #cD {
    top: 302px;
    left: 195px;
  }
  #cE {
    top: 240px;
    left: 15px;
  }
  #cF {
    top: 240px;
    left: 195px;
  }
  #introText {
    top: 360px;
    left: 0px;
    text-align: center;
  }
  #SWBox {
    height: 1010px;
  }
  #SWText {
    top: 586px;
    left: 0px;
    width: 360px;
    text-align: center;
  }
  #codeBox {
    left: 0px;
    width: 332px;
    height: 500px;
    box-shadow: 0px 8px 0px 0px #444;
  }
  #SWChartBox {
    width: 360px;
  }
}
@media (max-width: 700px) {
  #titleBox {
    font-size: 56px;
  }
}
@media (max-width: 500px) {
  #titleBox {
    font-size: 46px;
  }
}
@media (max-width: 400px) {
  #titleBox {
    font-size: 42px;
  }
}
.container {
  width: 300px;
  height: 280px;
  position: absolute;
  top: calc(50% - 140px);
  left: calc(50% - 150px);
}
.coffee-header {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ddcfcc;
  border-radius: 10px;
}
.coffee-header__buttons {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 25px;
  background-color: #282323;
  border-radius: 50%;
}
.coffee-header__buttons::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: -8px;
  left: calc(50% - 4px);
  background-color: #615e5e;
}
.coffee-header__button-one {
  left: 15px;
}
.coffee-header__button-two {
  left: 50px;
}
.coffee-header__display {
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  border-radius: 50%;
  background-color: #9acfc5;
  border: 5px solid #43beae;
  box-sizing: border-box;
}
.coffee-header__details {
  width: 8px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #9b9091;
  box-shadow: -12px 0 0 #9b9091, -24px 0 0 #9b9091;
}
.coffee-medium {
  width: 90%;
  height: 160px;
  position: absolute;
  top: 80px;
  left: calc(50% - 45%);
  background-color: #bcb0af;
}
.coffee-medium:before {
  content: "";
  width: 90%;
  height: 100px;
  background-color: #776f6e;
  position: absolute;
  bottom: 0;
  left: calc(50% - 45%);
  border-radius: 20px 20px 0 0;
}
.coffe-medium__exit {
  width: 60px;
  height: 20px;
  position: absolute;
  top: 0;
  left: calc(50% - 30px);
  background-color: #231f20;
}
.coffe-medium__exit::before {
  content: "";
  width: 50px;
  height: 20px;
  border-radius: 0 0 50% 50%;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 25px);
  background-color: #231f20;
}
.coffe-medium__exit::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 5px);
  background-color: #231f20;
}
.coffee-medium__arm {
  width: 70px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 25px;
  background-color: #231f20;
}
.coffee-medium__arm::before {
  content: "";
  width: 15px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: -15px;
  background-color: #9e9495;
}
.coffee-medium__cup {
  width: 80px;
  height: 47px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 40px);
  background-color: #FFF;
  border-radius: 0 0 70px 70px / 0 0 110px 110px;
}
.coffee-medium__cup::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 6px;
  right: -13px;
  border: 5px solid #FFF;
  border-radius: 50%;
}
@keyframes liquid {
  0% {
    height: 0px;  
    opacity: 1;
  }
  5% {
    height: 0px;  
    opacity: 1;
  }
  20% {
    height: 62px;  
    opacity: 1;
  }
  95% {
    height: 62px;
    opacity: 1;
  }
  100% {
    height: 62px;
    opacity: 0;
  }
}
.coffee-medium__liquid {
  width: 6px;
  height: 63px;
  opacity: 0;
  position: absolute;
  top: 50px;
  left: calc(50% - 3px);
  background-color: #74372b;
  animation: liquid 4s 4s linear infinite;
}
.coffee-medium__smoke {
  width: 8px;
  height: 20px;
  position: absolute;  
  border-radius: 5px;
  background-color: #b3aeae;
}
@keyframes smokeOne {
  0% {
    bottom: 20px;
    opacity: 0;
  }
  40% {
    bottom: 50px;
    opacity: .5;
  }
  80% {
    bottom: 80px;
    opacity: .3;
  }
  100% {
    bottom: 80px;
    opacity: 0;
  }
}
@keyframes smokeTwo {
  0% {
    bottom: 40px;
    opacity: 0;
  }
  40% {
    bottom: 70px;
    opacity: .5;
  }
  80% {
    bottom: 80px;
    opacity: .3;
  }
  100% {
    bottom: 80px;
    opacity: 0;
  }
}
.coffee-medium__smoke-one {
  opacity: 0;
  bottom: 50px;
  left: 102px;
  animation: smokeOne 3s 4s linear infinite;
}
.coffee-medium__smoke-two {
  opacity: 0;
  bottom: 70px;
  left: 118px;
  animation: smokeTwo 3s 5s linear infinite;
}
.coffee-medium__smoke-three {
  opacity: 0;
  bottom: 65px;
  right: 118px;
  animation: smokeTwo 3s 6s linear infinite;
}
.coffee-medium__smoke-for {
  opacity: 0;
  bottom: 50px;
  right: 102px;
  animation: smokeOne 3s 5s linear infinite;
}
.coffee-footer {
  width: 95%;
  height: 15px;
  position: absolute;
  bottom: 25px;
  left: calc(50% - 47.5%);
  background-color: #41bdad;
  border-radius: 10px;
}
.coffee-footer::after {
  content: "";
  width: 106%;
  height: 26px;
  position: absolute;
  bottom: -25px;
  left: -8px;
  background-color: #000;
}
.filter {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}